/*-- scss:rules --*/
$web-font-path: false;  // disable Google Fonts

/*-- scss:defaults --*/
// Typography
$font-family-sans-serif: 'Noto Sans';
$font-family-monospace: 'Overpass Mono';
$font-size-root: 16px;